.theme-dark {
	--text-normal: #909090;
	--bold-color: #d1462c;
	--link-color: #5590d9;
	--link-external-color: #5590d9;
	--code-normal: #d8d2c9;
	--h1-color: #f4f6f0;
	--h2-color: #f4f6f0;
	--h3-color: #f4f6f0;
	--h4-color: #f4f6f0;
	--h5-color: #f4f6f0;
	--h6-color: #f4f6f0;
	--checkbox-radius: 100px;
	--checkbox-color: #00ac5a;
	--checkbox-marker-color: #000000;
	--checklist-done-color: color-mix(in oklab, #909090 60%, transparent);
	--line-height-normal: 1.6;
	--tag-color: #d8d2c9;
	--tag-radius: 4px;
	--tag-background: color-mix(in oklab, #909090 16%, transparent);

	.view-header,
	.view-content {
		background-color: color-mix(
			in oklab,
			#000000 30%,
			transparent
		) !important;
	}

	h1 {
		margin-block-start: var(--p-spacing);
		margin-block-end: 2.4rem;
	}

	h2 {
		border-bottom: 1px solid;
		border-bottom-color: color-mix(in oklab, #909090 16%, transparent);
		padding-block-end: 1rem;
	}

	code {
		font-style: italic;
	}

	pre code {
		font-style: normal;
	}

	pre {
		background: color-mix(in oklab, #909090 3%, transparent);
		border-radius: 10px;
	}

	.metadata-container {
		background: color-mix(in oklab, #909090 3%, transparent);
		border-radius: 10px;
		padding: 1rem;
		margin-block: 2rem;
	}
	.metadata-properties-heading {
		display: none;
	}

	.mermaid {
		background: color-mix(in oklab, #909090 3%, transparent);
		border-radius: 10px;
	}
	.mermaid > * {
		transform: scale(0.9);
		transform-origin: center;
	}
}
