.theme-dark {
	--color-black: #000000;
	--color-black-30: color-mix(in oklab, var(--color-black) 30%, transparent);
	--color-black-60: color-mix(in oklab, var(--color-black) 60%, transparent);

	--color-moon-gray: #909090;
	--color-moon-gray-03: color-mix(
		in oklab,
		var(--color-moon-gray) 3%,
		transparent
	);
	--color-moon-gray-06: color-mix(
		in oklab,
		var(--color-moon-gray) 6%,
		transparent
	);
	--color-moon-gray-08: color-mix(
		in oklab,
		var(--color-moon-gray) 8%,
		transparent
	);
	--color-moon-gray-16: color-mix(
		in oklab,
		var(--color-moon-gray) 16%,
		transparent
	);
	--color-moon-gray-60: color-mix(
		in oklab,
		var(--color-moon-gray) 60%,
		transparent
	);

	--color-vermillion-red: #e34234;
	--color-vermillion-red-30: color-mix(
		in oklab,
		var(--color-vermillion-red) 30%,
		transparent
	);
	--color-vermillion-red-70: color-mix(
		in oklab,
		var(--color-vermillion-red) 70%,
		transparent
	);

	--color-moon-white: #f4f6f0;
	--color-crescent-moon: #d8d2c9;
	--color-havelock-blue-color: #5590d9;
	--color-muslim-green: #00ac5a;

	--file-line-width: 65ch;
	--nav-item-color-active: var(--color-vermillion-red-70);
	--nav-item-background-active: var(--color-moon-gray-06);
	--tab-text-color-focused-active-current: var(--color-vermillion-red-70);
	--tab-background-active: transparent;
	--divider-color-hover: var(--color-vermillion-red-30);
	--text-normal: var(--color-moon-gray);
	--bold-color: var(--color-vermillion-red);
	--link-color: var(--color-havelock-blue-color);
	--link-external-color: var(--color-havelock-blue-color);
	--code-normal: var(--color-crescent-moon);
	--h1-color: var(--color-moon-white);
	--h2-color: var(--color-moon-white);
	--h3-color: var(--color-moon-white);
	--h4-color: var(--color-moon-white);
	--h5-color: var(--color-moon-white);
	--h6-color: var(--color-moon-white);
	--checkbox-radius: 100px;
	--checkbox-color: var(--color-muslim-green);
	--checkbox-marker-color: var(--color-black);
	--checklist-done-color: var(--color-moon-gray-60);
	--line-height-normal: 1.6;
	--tag-color: var(--color-crescent-moon);
	--tag-background: var(--color-moon-gray-08);
	--tag-radius: 4px;
	--blockquote-font-style: italic;
	--blockquote-background-color: var(--color-moon-gray-03);

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--color-moon-gray-08);
		border-radius: var(--radius-m);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
	}

	h1 {
		margin-block-start: var(--p-spacing);
		margin-block-end: 2.4rem;
	}

	h2 {
		border-bottom: 1px solid;
		border-bottom-color: var(--color-moon-gray-16);
		padding-block-end: 0.8rem;
	}

	b,
	strong {
		font-weight: 500;
	}

	code {
		font-style: italic;
	}

	pre {
		background: var(--color-moon-gray-06) !important;
		border-radius: var(--radius-m);
	}
	pre code {
		font-style: normal;
	}

	blockquote {
		padding-inline-start: 0;
		border-inline-start: none;
		padding: 1rem;
		border-radius: var(--radius-m);
		color: var(--color-crescent-moon);
		font-weight: 100;
	}

	.nav-folder-title[data-count]::after {
		color: var(--color-crescent-moon);
		font-style: italic;
		font-weight: 100;
	}

	.workspace-tab-header.is-active .workspace-tab-header-inner,
	.workspace-tab-header.mod-active .workspace-tab-header-inner {
		background: var(--color-moon-gray-08);
	}

	.view-header,
	.view-content {
		background-color: transparent !important;
	}

	.workspace-tab-header::before,
	.workspace-tab-header::after {
		display: none;
	}

	.metadata-container {
		background: var(--color-moon-gray-03);
		border-radius: var(--radius-m);
		padding: 1rem;
		margin-block: 2rem;
	}
	.metadata-properties-heading {
		display: none;
	}

	.mermaid {
		background: var(--color-moon-gray-03);
		border-radius: var(--radius-m);
	}
	.mermaid > * {
		transform: scale(0.9);
		transform-origin: center;
	}

	.callout {
		border-radius: var(--radius-m);
	}

	.pane-empty {
		font-style: italic;
	}

	.token.comment {
		font-style: italic;
	}
}
